input[type="date"], input[type="number"]{
    border-radius: $border-radius;
    background-color: $light-blue;
    border: none;
    color: $white;
    text-align: center;
    outline: none;
    padding: 5px 0px;
    height: 40px;

}

input, button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus {
    border: 3px solid $white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


input[type="date"] {
    width: 190px;
    padding-right: 10px;
}




input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.current-date {
    background-color: $dark-blue !important;
    margin: 0 auto;

    &:focus {
        border: 3px solid $light-blue;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.submit {
    padding: 8px 10px;
    width: 70%;
    margin: 0 auto;
    border: none;
    background-color: $siena;
    color: $white;
    border-radius: $border-radius;

    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}

.adjust-btn {
    border-radius: $border-radius;
    background-color: $light-blue;
    color: $white;
    width: 40px;
    height: 40px;
    border:none;

    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }
}

