
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
/*     display: none; */

    &::before {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: rgba(0 0 0 / 0.5);
        z-index: -1;
        left: 0;
        top: 0;
    }


    button {
        background-color: $siena;
        border: none;
        border-radius: $border-radius;
        color: $white;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
        width: 330px;
        height: 330px;
        position: relative;
        background-color: $white;
        border: 2px $siena solid;
        border-radius: $border-radius;
        color: $dark-blue;

        img {
            width: 90px;
            height: 90px;
            display: block;
        }
    }

    &-text {
        font-size: 2.5rem;
        text-align: center;
    }

    &-close-btn {
        width: 40px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-buttons-contaner {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {
            height: 40px;
            width: 110px;
        }
    }
}
