input[type=radio] {
    --s: 0.8em;     /* control the size */
    --c: #2A9D8F; /* the active color */
    
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s)/8) solid #fdf0d5;
    padding: calc(var(--s)/8);
    background: 
       radial-gradient(farthest-side,var(--c) 94%,#0000) 
       50%/0 0 no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: .4s;
  }
  input[type=radio]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
  }
  
  input[type=radio]:disabled {
    background: 
       linear-gradient(#fdf0d5 0 0) 
       50%/100% 20% no-repeat content-box;
    opacity: .5;
    cursor: not-allowed;
  }
  
  @media print {
    input[type=radio] {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      background: none;
    }
  }
  
  .radio-label {
    display:inline-flex;
    align-items:center;
    gap:10px;
    margin:5px 0;
    cursor: pointer;
  }
/*   body {
    margin:0;
    min-height:100vh;
    display:grid;
    place-content:center;
    font-family: system-ui, sans-serif;
    font-size: 40px;
  } */