@use "fonts";
@use "radio";

$dark-blue: #264653;
$light-blue: #2A9D8F;
$browny-yellow: #E9C46A;
$red-sand: #F4A261;
$siena: #E76F51;
$white: #fdf0d5;
$border-radius: 5px;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    border: none;
    padding: 20px 20px;
    border-radius: $border-radius;
    background-color: $dark-blue;
    margin: 0;
}

.hidden {
    display: none !important;
}

.wrapper {
    @media (max-width: 600px) {
        width: 100vw;
    }

    @media (max-width: 321px) {
        padding-left: 0;
        padding-right: 0;
    }
    width: 600px;
    margin: 0 auto;
    padding: 20px 10px;
    padding-top: 50px;
/*     border: 1px solid black; */
    color: $white;
}
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */

input[type="date"], input[type="number"]{
    border-radius: $border-radius;
    background-color: $light-blue;
    border: none;
    color: $white;
    text-align: center;
    outline: none;
    padding: 5px 0px;
    height: 37px;
}

input:focus {
    border: 2px dashed $white;
}


input[type="date"] {
    width: 175px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('/images/calendar-svgrepo-com.svg') no-repeat center center;
    background-size: contain;
    width: 17px; /* Ширина иконки */
    height: 17px; /* Высота иконки */
    opacity: 1; /* Прозрачность иконки (при необходимости) */
    cursor: pointer; /* Изменение курсора при наведении */
    margin: 0px 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit {
    padding: 8px 0;
    width: 50%;
    margin: 0 auto;
    border: none;
    background-color: $siena;
    color: $white;
    border-radius: $border-radius;
}

.current-date {
    background-color: $siena !important;
    margin: 0 auto;
}

.current-date:focus {
    border: 2px solid $dark-blue;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-main {

    .income {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        input {
            width: 30%;
            margin-left: 30px;
        }
    }

    .avg-check {
        display: flex;
        flex-direction: column;
        gap: 15px;
    
        .radio-main {
            display: flex;
            justify-content: space-around;
        }
    
        .radio-optional {
            display: flex;
            justify-content: space-between;
        }
    }

    .feedbacks {
        display: flex;
        flex-direction: column;
    
        .input-container {
            margin-top: 15px;
            input {
                width: 60px;
                margin: 0 30px;
            }
    
            display: flex;
            justify-content: center;
        }
    }
}

.salary-today {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    background-color: $dark-blue;
    gap: 20px;

    .salary-value {
        font-size: 3rem;
    }
    
}

.stats-for-period {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 5px solid $dark-blue;

    h2 {
        margin: 0 auto;
        color: $dark-blue;
        font-size: 3.3rem;
        font-weight: 500;
        text-align: center;
    }
}

.dates-selection {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 20px;
    width: 100%;

    .period-input-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > *{
            display: block;
        }
    }

}



.stats {
    margin-top: 30px;

    .month-container{
        margin-top: 10px;
    }

    .main-data {
        width: 100%;
        display: inline-flex;
        border: 1px solid white;
        .date, .salary {
            padding: 3px 20px;
            width: 50%;
            text-align: center;
        }

        .date {
            background-color: tomato;
        }

        .salary {
            background-color: thistle;
        }
    }

    .optional-data {
        width: 100%;
        margin: 0;
        padding: 10px 10px;
        display: inline-flex;
        flex-direction: column;
        gap: 7px;
        background-color: rgb(191, 232, 174)
    }

    .optional-data > * {
        display: inline-flex;
        justify-content: space-between;
    }


    .optional-data > * > span:first-child::before {
        content: "•";
    }
}

/* .optional-data {
    display: flex;
    flex-direction: column;
    margin: 0;

} */