@charset "UTF-8";
/* roboto-300 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - cyrillic_cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
input[type=radio] {
  --s: 0.8em; /* control the size */
  --c: #2A9D8F; /* the active color */
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid #fdf0d5;
  padding: calc(var(--s) / 8);
  background: radial-gradient(farthest-side, var(--c) 94%, rgba(0, 0, 0, 0)) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.4s;
}

input[type=radio]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type=radio]:disabled {
  background: linear-gradient(#fdf0d5 0 0) 50%/100% 20% no-repeat content-box;
  opacity: 0.5;
  cursor: not-allowed;
}

@media print {
  input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}
.radio-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  cursor: pointer;
}

/*   body {
    margin:0;
    min-height:100vh;
    display:grid;
    place-content:center;
    font-family: system-ui, sans-serif;
    font-size: 40px;
  } */
input[type=date], input[type=number] {
  border-radius: 7px;
  background-color: #2A9D8F;
  border: none;
  color: #fdf0d5;
  text-align: center;
  outline: none;
  padding: 5px 0px;
  height: 40px;
}

input, button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:active, input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

input:focus {
  border: 3px solid #fdf0d5;
}

input[type=date] {
  width: 190px;
  padding-right: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.current-date {
  background-color: #264653 !important;
  margin: 0 auto;
}

.submit {
  padding: 8px 10px;
  width: 70%;
  margin: 0 auto;
  border: none;
  background-color: #E76F51;
  color: #fdf0d5;
  border-radius: 7px;
  font-weight: 500;
}

.adjust-btn {
  border-radius: 7px;
  background-color: #2A9D8F;
  padding: 5px;
  text-align: center;
  color: #fdf0d5;
  width: 40px;
  height: 40px;
  border: none;
}

.form-main .income {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-main .income input {
  width: 30%;
  margin-left: 30px;
}
.form-main .avg-check {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-main .avg-check .condition-question {
  text-align: center;
}
.form-main .avg-check .radio-main {
  display: flex;
  justify-content: space-around;
}
.form-main .avg-check .radio-optional {
  display: flex;
  justify-content: space-between;
}
.form-main .feedbacks {
  display: flex;
  flex-direction: column;
}
.form-main .feedbacks-title {
  text-align: center;
}
.form-main .feedbacks .input-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.form-main .feedbacks .input-container input {
  width: 60px;
  margin: 0 30px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /*     display: none; */
}
.modal::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  left: 0;
  top: 0;
}
.modal button {
  background-color: #E76F51;
  border: none;
  border-radius: 7px;
  color: #fdf0d5;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 330px;
  height: 330px;
  position: relative;
  background-color: #fdf0d5;
  border: 2px #E76F51 solid;
  border-radius: 7px;
  color: #264653;
}
.modal-content img {
  width: 90px;
  height: 90px;
  display: block;
}
.modal-text {
  font-size: 2.5rem;
  text-align: center;
}
.modal-close-btn {
  width: 40px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-close-btn img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-buttons-contaner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.modal-buttons-contaner button {
  height: 40px;
  width: 110px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  touch-action: manipulation;
}

body {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

fieldset {
  border: none;
  padding: 20px 20px;
  border-radius: 7px;
  background-color: #264653;
  margin: 0;
  color: #fdf0d5;
}

button {
  height: 40px;
}

.wrapper {
  max-width: 390px;
  margin: 0 auto;
  padding: 20px 10px;
  padding-top: 50px;
}
@media (max-width: 600px) {
  .wrapper {
    width: 100vw;
  }
}
@media (max-width: 321px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

summary::marker {
  content: "";
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.salary-today {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  background-color: #264653;
  gap: 20px;
}
.salary-today .salary-value {
  font-size: 3rem;
}

.stats-for-period {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 5px solid #264653;
}
.stats-for-period h2 {
  margin: 0 auto;
  color: #264653;
  font-size: 3.3rem;
  font-weight: 500;
  text-align: center;
}

.dates-selection {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 20px;
  width: 100%;
}
.dates-selection .period-input-block {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.dates-selection .period-input-block label {
  width: 30%;
}
.dates-selection .period-input-block input {
  width: 60%;
}

.stats details {
  margin-bottom: 8px;
}
.stats .month-container {
  padding: 10px;
}
.stats .main-data {
  width: 100%;
  height: 40px;
  display: inline-flex;
  color: #264653;
  align-items: center;
}
.stats .main-data .date,
.stats .main-data .salary {
  padding: 3px 20px;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats .main-data .date {
  background-color: #E9C46A;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.stats .main-data .salary {
  background-color: #F4A261;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.stats .optional-data {
  color: #264653;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 10px;
  display: inline-flex;
  flex-direction: column;
  gap: 7px;
  background-color: #E76F51;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.stats .optional-data > * {
  display: inline-flex;
  justify-content: space-between;
}
.stats .optional-data > * > span:first-child::before {
  content: "•";
}
.stats .delete-day-btn {
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-top: 10px;
  border: 2px #264653 solid;
  background-color: #fdf0d5;
  color: #264653;
  padding: 5px;
}

.salary-sum {
  width: 100%;
  background-color: #264653;
  border-radius: 7px;
  font-size: 3.3rem;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 30px;
  color: #fdf0d5;
}/*# sourceMappingURL=styles.css.map */